@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  font-family: 'Prompt', system-ui;

  @apply bg-white text-black dark:bg-main-bg dark:text-main-text;
}

::view-transition-group(root) {
  animation-duration: 5s;
}
